// Coloro Cube
$white: #ffffff;
$cinder: #171520;
$silversand: #bbbcbd;
$mountainmeadown: #20ac97;
$courduray: #6b6c6c;
$alizarincrimson: #e2251a;
$caferoyale: #77440e;
$antiquebrass: #ca935f;
$tangerine: #f38f01;
$congressblue: #044689;

// Median Cut
$ebonyclay: #232a33;
$athensgray: #ebe9ed;
$spicymix: #8a614a;
$graychateau: #9aa2a6;
$barleycorn: #a38664;

// Material Design
$sanmarino: #43779d;
$quicksand: #c2a394;
$junglegreen: #26aa94;
$vulcan: #141423;
$amour: #fcf7fb;

// My Colors

$logocolor: #3F3A64;