@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&family=Montserrat:wght@500&family=Playfair+Display&display=swap');

    $fa-font-path: './webfonts';
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import 'bootstrap/scss/bootstrap';

@import './partials/mixins';
@import './partials/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pFont{
    font-family: 'Playfair Display', serif;
}

.sFont{
    font-family: 'Jost', sans-serif; 
}

.mFont{
    font-family: 'Montserrat', sans-serif;
}
.btn1{
    border: 2px solid $mountainmeadown;
    background-color: $mountainmeadown;
    padding: .9rem 2.6rem;
    border-radius: .2rem;
    color: $white;
    font-weight: 600;
    text-decoration: none;
    transition: all 250ms;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    &:hover{
        background-color: $white;
        color: $mountainmeadown;
        cursor: pointer;
    }
}
//font-family: 'Playfair Display', serif;       PRINCIPAL FONT
//font-family: 'Jost', sans-serif; font-family: 'Playfair Display', serif; SECONDARY FONT
